body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

a:link {
  color: #007bff;
}

a:visited {
  color: #007bff;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:active {
  color: #0056b3;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #000814;
}

.about {
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
}

.about h1 {
  font-size: 36px;
  margin-bottom: 32px;
}

.about h2 {
  font-size: 24px;
  margin-top: 18px;
}

.factoring-challenge .product {
  font-size: calc(2.375rem + 1.5vw);
}
.factoring-challenge .product-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
